* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  nav {
    font-family: arial;
    text-align: center;
    background: linear-gradient(to right, #56ccf2, #2f80ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px 25px;
    display: block;
    transition: 300ms;
  }
  
  nav ul li:before {
    content: "";
    width: 50%;
    height: 0%;
    background-color:darkcyan;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
      transition: 300ms;
  }
  
  
  
  nav ul li:after{
      content: '';
      width: 50%;
      height: 0%;
      background-color: cornflowerblue;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 300ms;
  }
  
  nav ul li:hover::before{
      height: 100%;
  }
  
  nav ul li:hover::after{
      height: 100%;
  }
  
  
  
  
  